h1 Measurements Example

table
  tr
    th Expression
    th Value
  tr
    td byte(1)
    td= byte(1)
  tr
    td byte(1024)
    td= byte(1024)
  tr
    td byte(1024 * 1024)
    td= byte(1024 * 1024)
  tr
    td byte(20 * 1024 * 1024)
    td= byte(20 * 1024 * 1024)
  tr
    td milli(100 * 1000)
    td= milli(100 * 1000)
  tr
    td milli(10 * 60 * 1000)
    td= milli(10 * 60 * 1000)

